<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Control Panel</title>
    <link rel="stylesheet" href="/tmp/main.css">
</head>

<body>
    <header>
        <h1 class="dark tittle">CONTROL PANEL</h1>
    </header>

    <nav>
        <section>
            <h2 class="slight"><a class="navi" href="/logout" style="text-decoration: none;">logout</a></h2>
            <h2 class="slight"><a class="navi" href="/gallery" style="text-decoration: none;">gallery</a></h2>
        </section>

        <section>
            {{if .User}}
            <div>
                <h4>Username: {{.User.UserName}}</h4>
                <h4>First Name: {{.User.First}}</h4>
                <h4>Last Name: {{.User.Last}}</h4>
                <h4>Role: {{.User.Role}}</h4>
            </div>
            {{end}}
        </section>

        <section>
            {{if .Users}}
            <div>
                <ul>
                    {{range $key, $val := .Users}}
                    <li><strong>{{$key}}</strong></li>
                    <li> {{$val.UserName}}</li>
                    <li> {{$val.First}}</li>
                    <li> {{$val.Last}}</li>
                    <li> {{$val.Role}}</li>
                    {{end}}
                </ul>
            </div>
            {{end}}
            <div>
                <form action="/signup" method="POST">
                    <label for="sr">Role</label>
                    <select name="role" id="sr">
                        <option value="user">user</option>
                        <option value="admin">admin</option>
                        <option value="superadmin">superadmin</option>
                    </select>
                    <input type="submit" value="Register">
                </form>
            </div>

        </section>
    </nav>

    <section>
    </section>

    <footer>
    </footer>

</body>

</html>