<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tittle</title>
    <link rel="stylesheet" href="/tmp/main.css">
</head>

<body>
    <header>
        <section>
            <h1 class="light tittle">GALLERY</h1>
        </section>
    </header>
    <nav>
        <section>
            <h2 class="slight"><a class="navi" href="/signup" style="text-decoration: none;">Signup</a></h2>
        </section>

        <section>
            <div>
                <form method="POST">
                    <input name="username" type="text" placeholder="email">
                    <input name="password" type="text" placeholder="password">
                    <input type="submit" value="Send">
                </form>
            </div>

            {{if .}}
            <div>
                {{.}}<br>
            </div>
            {{end}}
        </section>
    </nav>
    <section>
    </section>
    <footer></footer>
</body>

</html>