<!DOCTYPE html>

<html lang= "en">
    <head>
        <meta charset="utf-8">
        <title>Tittle</title>
        <link rel="stylesheet" href="tmp/main.css">
    </head>
    <body>
        <h1 class="tittle">Gabriel's Gallery</h1>

        <!--llamado a imagenes-->

        <!--relatives url-->
        <img src="resources/img/Plano1.jpg" alt="Plano1">
        <img src="resources/img/Calendario1.jpg" alt="Calendario1">
        <img src="resources/img/gato-color.png" alt="cato color">

        <!--absolutes url-->
        <img src="resources/img/Laberinto.jpg" alt="Laberinto">
        <img src="resources/img/Paisaje1.jpg" alt="Paisaje1">

        <img src="http://4.bp.blogspot.com/_EUp_3tMVQgQ/Sr-PsCYac3I/AAAAAAAAAGQ/BJNVbwcQFTw/s400/DSC06085.JPG">

        <!-- llamado a una url-->
        <a href="http://google.com" target="_blank">go to google</a>

        <p class="happiness">HAPPY!</p>

        <div class="happness">again</div>
        
    </body>
</html>