html{
    background-color: lightblue;
}
article {
    border: 1px solid snow;
    display: inline-block;
}

img {
    width: 200px;
    /* box-sizing: border-box; */
    border: 2px groove lightsalmon;
    padding: 10 px;
    margin: 10px;
    display: inline-block;
}

.gabriel{
    background-color: rebeccapurple;
}

.david{
    background-color:maroon;
}
h2{
    color: mintcream;
    margin: auto;
    padding: 20px;
    text-align: center;
    
}
h3{
    text-align: center;
    color: mintcream;
}
h1{
    text-align: center;
}

form {
    border: 1px solid snow;
    display: block;
    margin: 5px;
    padding: 5px;
}
