html{
    background-color:#EBE9A2
    /* gabo:#91EBE8;
    david:#EBADA9;
    background-color:#EBC07A;
    background-color:#86EBAE; */
}
nav > section {
    background-color: #EBC047;
    margin: 5px;
}

section{
    display: block;
    margin: 1px;
    padding: 1px;
}

article {
    display: inline-block;
}

div {
    display: block;
    margin: 4px;
    padding: 4px;
}

img {
    width: 200px;
    padding: 10 px;
    margin: 10px;
    display: inline-block;
}

.gabriel{
    background-color:#A39D8B;
}

.david{
    background-color:#6A9E5D;
}

.tittle{
    text-align: center;
}

.barra{
    display: inline-block;
    margin: 2px;
    margin-left: 20px;
}

.personal {
    display: inline-block;
}
header > section {
    background-color: #6A9E5D;
}

.slight{
    padding: 5px;
    margin:2px;
    display: inline-block;
    margin-left: 25px;
}

.dark{
    color:#575348
}

.light{
    color:#e7dfc5
}

.navi {
    color:#928d7b;
    text-align: center;
}